<html>
<head>

</head>
<body>
<ul>
{{range .Wisdom}}
    <li>{{.Name}} - {{.Motto}}</li>
{{end}}
</ul>

<ul>
{{range .Transport}}
    <li>{{.Name}} - {{.Model}}</li>
{{end}}
</ul>
</body>
<footer>

</footer>
</html>